GEMINI_API_KEY=your_google_gemini_api_key_here
GEMINI_MODEL=gemini-2.5-flash
IMAGEN_API_KEY=your_google_imagen3_api_key_here
KOREAN_DICT_KEY=your_korean_dictionary_api_key_here
KOREAN_DICT_CERTKEY=your_optional_certkey_here
KAKAO_MAP_KEY=your_kakao_javascript_key_here
GCLOUD_TTS_API_KEY=your_google_cloud_tts_api_key_here
GCLOUD_STT_API_KEY=your_google_cloud_stt_api_key_here
MOHW_SAFETY_API_KEY=your_mohsw_emergency_safety_api_key_here # 보건복지부 응급안전안심 생활교육정보
MOEL_API_KEY_1=aff7f6f4-0214-4b76-8527-6923ecd3fc18 # 고용노동부 API 1
MOEL_API_KEY_2=c61b0bdb-b548-492e-b510-5b54562e8b38 # 고용노동부 API 2
MOEL_API_KEY_3=16a45420-c4b6-4dbc-a135-dfffac972e63 # 고용노동부 API 3
MOEL_API_KEY_4=8b118b50-09f5-4986-b448-caa2135d1747 # 고용노동부 API 4
MOLEG_LAW_API_KEY=your_moleg_life_law_api_key_here # 법제처 생활법령정보 조회 서비스
VWORLD_API_KEY=your_vworld_api_key_here # VWorld (국토교통부) 지도/데이터 API
POLICE_DATA_API_KEY=your_police_data_api_key_here # 경찰청 공공데이터
MOIS_SAFETY_API_KEY=your_mois_safety_api_key_here # 행정안전부 생활안전지도/재난안전지도
FUTURE_API_KEY_1=your_future_api_key_1_here
FUTURE_API_KEY_2=your_future_api_key_2_here
PORT=8080
